node_modules/
extracted/
temp_patch/
app_patched.asar
*.log
find_urls.js
check_preload.js
check_load.js
inspect_pc_load.js
inspect_preload_reg.js
find_entry.js
find_webpref.js
check_end_preload.js
test_fetch.js
test_scripts.js
scan_chinese.js
scan_escapes.js
scan_manifest.js
test_exam.js
test_chunk.js
scan_all_scripts.js
read_app.js
scan_manifest_chunks.js
scan_all_manifest_chunks.js
read_index.js
scan_webpack_chunks.js
test_hash_chunk.js
print_webpack.js
test_real_chunk.js
inspect_ui_code.js
test_find_text.js
check_devtools.js
scan_phrases.js
scan_all_webpack_phrases.js
sample_phrases.js
create_core_dict.js
make_dictionaries.js
all_zh_phrases.json
